@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: black;
}

#pagegap {
    height: 70vh;
}

button {
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    border: 3px solid white;
    font-size: 25px;
    padding: 0.7%;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.2s;
}

button:hover, #scroller:hover, #linker:hover {
    box-shadow: white 0px 0px 20px;
}

p, h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
    color: white;
    padding: 8px;
    font-weight: lighter;
    text-shadow: black 0px 0px 20px, black 0px 0px 20px,black 0px 0px 20px, black 0px 0px 20px,black 0px 0px 20px, black 0px 0px 20px;
}

#linker {
    background-color: rgba(0, 0, 0, 0.623);
    border: 3px solid white;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    margin: 1%;
    transition-duration: 0.2s;
    
    line-height: 300%;
}

#scroller {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 0.7%;
    border-radius: 20px;
    border: 3px solid white;
    font-size: 30px;
    margin-left: 43%;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    color: white !important;
}

h2 {
    font-size: 25px;
    color: white !important;
}

h3 {
    color: white !important;
}

p {
    font-size: 16px;
}

a {
    color: #69d9ef !important;
}

#name {
    margin: 0px;
    

    color: rgb(255, 255, 255);
    /* text-shadow: rgb(0, 255, 255) 0px 0px 20px; */
}

img {
    width: 500px;
    max-width: 90%;
    /*box-shadow: aliceblue -30px 30px;*/
    z-index: 3;
    float: right;
    margin: 10px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: black;
}

#row {
    min-height: 780px;
    padding-left: 5%;
    padding-right: 5%;
}

#row p {
    max-width: 700px;
    font-size: 20px;
}


#viewport {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.page-wrapper {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100%);
    word-wrap: break-word;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
       -webkit-transform: scale(0.8);
       transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
       transform: scale(1);
    }
}